@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$principalFont: 'Jura', sans-serif;
$secondFont: 'Titillium Web', sans-serif;
$emergencyFont: 'Jura', sans-serif;

// Colors
$black: #000;
$blue: #0d6efd;
$red: #dc3545;
$green: #198754;
$gold: #b69253;
$white: #fffff0;

// Screen Size
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopLG: 1600px;

// Font sizes

$bold : 700;
$ligth: 200;
$normal: 300;

// Padding
$padding: 5rem;


