@use 'base/variable' as v;
@use 'base/mixins' as m;

.card {
    max-width: 32.5rem;

    h5, p {
        color: v.$black;
    }

}


.machinesCasinos {

    @include m.tablet {
        
        @include m.grid(3 , 1);
    }

    img {
        opacity: 0.5;
    }

    @include m.card

}