@use 'base/variable' as v;
@use 'base/mixins' as m;

.newCasino {

    @include m.buttonNew

}

.AllCasinos {

    h3 {
        font-size: 4.5rem;
    }

    .card {
        max-width: 40rem;

        h5, p {
            color: v.$black;
        }

    }

}

.cardsCasinos {

    @include m.tablet {
        
        @include m.grid(3 , 2rem);
    }

    img {
        opacity: 0.5;
    }

    @include m.card

    
}